header {
    padding: 8px;
    display: 'inline-block'
}

.home-link {
    height: 30px;
}

.navigation {
    background-color: $gray;

    ul {
        list-style-type: none;
        margin: -45px -10px -10px -10px;
        padding: 0;
        overflow: hidden;
    }
      
    li {
        float: right;
    }
      
    li a {
        display: block;
        color: $white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
      
    li a:hover {
        background-color: rgba(0, 0, 0, 0.75);
    }
}

